#contact--form {
  display: grid;
  margin: 50px;
  padding: 23px;
}

#contact--header {
  padding-bottom: 45px;
}

a {
  color: inherit;
}

#linkedin {
  padding: 10px;
  overflow: hidden;
}
#github {
  padding: 10px;
  overflow: hidden;
}

.contact--card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  overflow: hidden;
}

.left {
  grid-column: 6 / 12;
}

.username {
  color: white;
  font-size: 300px;
}

.item {
  width: 220px;
  height: 150px;
  border-radius: 20px;
  border: 2px solid lightgrey;
  margin: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  transition: all 0.5s ease;
  cursor: pointer;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container--projects {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 25%;
  height: 50%;
  object-fit: cover;
  z-index: 1;
  border: 2px solid lightgray;
}
.item:hover {
  background-color: #1565c0;
  opacity: 0.9;
  z-index: 2;
}
