#contact--form {
  display: grid;
  margin: 50px;
  padding: 23px;
}

#contact--header {
  padding-bottom: 45px;
}

a {
  color: inherit;
}

#linkedin {
  padding: 10px;
  overflow: hidden;
}
#github {
  padding: 10px;
  overflow: hidden;
}

.contact--card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  overflow: hidden;
}

.left {
  grid-column: 6 / 12;
}

.username {
  color: white;
  font-size: 300px;
}
