.portfolioList {
  margin-right: 50px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  display: inline;
}

.active {
  background-color: white;
  color: #1565c0;
}
.portfolioList:hover {
  background-color: white;
  color: #1565c0;
}
